@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

div
{
  margin-left: 30%;
  margin-right: 30%;


  padding: 30px;
  width: 40%;

  border: transparent;
  border-radius: 16px;

  background-color: #ffffff;

  filter: drop-shadow(8px 8px 5px #2c2c2c23);
}

.project
{
  margin: 10px;
  width: 90%;

  margin: auto;
  
  background-color: #f3f3f3;
}

.demo{
  width: 100%;
  height: 100%;
  object-fit: cover;

  margin-top: 15px;
  border-radius: 15px;

  filter: drop-shadow(8px 8px 5px #2c2c2c23);
}

body
{
  text-align: center;
  font-family: 'Rubik', sans-serif;

  color: #2c2c2c;
  background-color: #4daecf;
}

footer{
  bottom: 0;
  position: absolute;
  padding: 15px;
}

.button
{
  padding: 12px;
  line-height:45px;
  
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  text-decoration: none;

  background-color: #fce095;
  color:#2c2c2c;

  border: transparent;
  border-radius: 16px;

  filter: drop-shadow(8px 8px 5px #2c2c2c23);
  
  transition-duration: 0.15s;
  cursor:pointer;
}

.button:hover
{
  background-color: #dab46f;
}