@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

div
{
  margin: 70px;
  padding: 50px;
  border-radius: 2px;
  display: inline-block;

  background-color: #ffffff;
  border: 4px solid #000000;

  filter: drop-shadow(3px 3px 0 #00000098)
}

h1
{
  font-weight: thick;
  font-size: 24px;
}

body
{
  text-align: center;
  font-family: 'Rubik', sans-serif;

  background-image: linear-gradient(0, #4daecf, #6ce1e1);
  
  background-attachment: fixed;

}

.button
{
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  text-decoration: none;

  background-color: #fce095;
  border: 2px solid #000000;
  color:#000000;

  border-radius: 2px;
  padding: 12px;
  line-height:45px;

  filter: drop-shadow(3px 3px 0 #00000098);
  
  transition-duration: 0.15s;
  cursor:pointer;
}

.button:hover
{
  background-color: #dab46f;
}
