@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

div
{
  margin: 70px;
}

h1
{
  font-weight: thick;
  font-size: 24px;
}

body
{
  background-color: #333333;
  font-family: 'Rubik', sans-serif;
  color: #cdece6;
}
