:root {
  --primary-fg: #0f0f0f;
  --primary-bg: #f2f2f2;
  --secndry-bg: #e1e1e1;

  --dropshadow: #0f0f0f;
}

img {
  width: 100%;
  height: auto;
}

body {
  color: var(--primary-fg);
  background-color: var(--secndry-bg);

  font-family: "Victor Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.island {
  width: 80%;
  padding: 4%;

  border: solid 2px var(--primary-fg);
  filter: drop-shadow(8px 8px 0px var(--dropshadow));
  background-color: var(--primary-bg);
}

.nav {
  display: flex;
  justify-content: center;

  filter: drop-shadow(2px 2px 0px var(--dropshadow));
}

.nav_item {
  margin: 10px;

  color: var(--primary-fg);
  background-color: var(--primary-bg);

  padding: 8px 15px;

  border: solid 2px var(--primary-fg);
}

.nav_item:hover {
  background-color: var(--secndry-bg);
}

.epsilorne_logo {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 2%;
}

.epsilorne_logo > img {
  width: 50%;
  max-width: 500px;
}
