:root {
  --primary-fg: #000000;
  --primary-bg: #ffffff;
  --secondary-bg: #e1e1e1;
}

img {
  width: 100%;
  height: auto;
}

body {
  color: var(--primary-fg);
  background-color: var(--primary-bg);

  font-family: monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

li {
  padding-left: 2%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  padding-bottom: 10%;
}

.island {
  width: 800px;
  padding: 100px 10%;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav_item {
  margin: 10px;

  color: var(--primary-fg);

  padding: 8px 15px;
}

.nav_item:hover {
  background-color: var(--secondary-bg);
}

.epsilorne_logo {
  display: flex;
  flex-direction: column;
  align-items: center;

  letter-spacing: -0.5px;
  line-height: 16px;

  padding-bottom: 5%;
}

hmmm {
  ...: aGksIHRoYW5rIHlvdSBmb3IgZGVjb2RpbmcgdGhpcw==
}
