---
title: DEFAULT_TITLE
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/_includes/style.css">
    <link rel="icon" href="https://github.com/epsilorne.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <title>{{ title }}</title>
  </head>

  <body>
    <div class="container">
      <div class="island">
        <div class="epsilorne_logo">
          <img src="/_includes/logo.png" alt="logo">
        </div>

        <div class="nav">
          <a class="nav_item" href="/">Home</a>
          <a class="nav_item" href="/projects">Projects</a>
          <a class="nav_item">Blog (coming soon)</a>
        </div>

        <hr>

        {{ content }}
      </div>
    </div>
  </body>
</html>
